@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
#logo {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 100px;
  z-index: 2;
}

/* LANDING */
#landing {
  text-align: center;
}

.subtitle {
  margin-top: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.heading {
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.album {
  -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 2rem;
  width: 250px;
}

.btn-cnt {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
}

.landing-btn {
  outline: none;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 115px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: none;
  border: solid 3px #000;
  border-radius: 50px;
}

.landing-btn:nth-child(2) {
  margin-left: 1.5rem;
  background: #000;
  border: none;
  color: #fff;
}

.landing-btn-about a {
  color: #000;
  text-decoration: none;
}

.landing-btn-merch a {
  color: #fff;
  text-decoration: none;
}

/* ABOUT */
#about {
  text-align: center;
  margin-top: 6rem;
}

#about .subtitle {
  font-size: 0.9rem;
}

#about h1 {
  font-size: 2rem;
}

.about-img {
  -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  border-radius: 10%;
  width: 200px;
}

.about-socials-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.about-socials-cnt a {
  text-decoration: none;
}

.about-socials-cnt a:nth-child(n+2) {
  margin-left: 1.5rem;
}

.about-text {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  #about {
    text-align: left;
    padding-bottom: 10rem;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10rem;
  }
  #about .subtitle {
    font-size: 1.1rem;
  }
  #about h1 {
    font-size: 2rem;
  }
  .about-wrapper {
    width: 50%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-img {
    -webkit-box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    margin: 0;
    border-radius: 0;
    width: 40%;
    max-width: 450px;
    position: absolute;
    left: 4vw;
  }
  .about-socials-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
  .about-socials-cnt a {
    text-decoration: none;
  }
  .about-socials-cnt a:nth-child(n+2) {
    margin-left: 1rem;
  }
  .about-text {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 1rem;
    margin-top: 0.8rem;
    width: 90%;
    line-height: 1.7;
  }
}

@media only screen and (min-width: 960px) {
  .about-img {
    left: 0;
  }
  #about {
    text-align: left;
    padding-bottom: 10rem;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 10rem;
  }
  #about .subtitle {
    font-size: 1.1rem;
  }
  #about h1 {
    font-size: 3rem;
  }
  .about-wrapper {
    width: 55%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-socials-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }
  .about-socials-cnt a {
    text-decoration: none;
  }
  .about-socials-cnt a:nth-child(n+2) {
    margin-left: 1rem;
  }
  .about-text {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    width: 90%;
    line-height: 2;
  }
}

/* LISTEN NOW */
#listen {
  margin-top: 3.5rem;
  text-align: center;
}

#listen h2 {
  font-size: 2.5rem;
}

.listen-cnt {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listen-cnt a {
  text-decoration: none;
}

.listen-cnt a img {
  width: 150px;
}

.listen-cnt a:nth-child(n+2) {
  margin-top: 2.5rem;
}

@media only screen and (min-width: 768px) {
  #listen {
    margin-top: 3.5rem;
    text-align: center;
    padding-bottom: 10rem;
  }
  .listen-cnt {
    margin: 0 auto;
    width: 85%;
    max-width: 860px;
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .listen-cnt a {
    text-decoration: none;
  }
  .listen-cnt a img {
    width: 200px;
  }
  .listen-cnt a:nth-child(n+2) {
    margin-top: 0;
  }
}

/* MERCH */
#merch {
  margin-top: 4rem;
  text-align: center;
}

#merch .subtitle {
  font-size: 0.9rem;
}

#merch h2 {
  font-size: 2.2rem;
}

.merch-img {
  margin-top: 2rem;
  width: 200px;
}

.merch-text {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.merch-text a {
  color: #000;
}

@media only screen and (min-width: 768px) {
  #merch {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }
  #merch .subtitle {
    margin-top: 3.5rem;
    font-size: 1.1rem;
  }
  #merch h2 {
    font-size: 2.5rem;
  }
  .merch-wrapper {
    width: 50%;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .merch-img {
    position: absolute;
    right: 4vw;
    width: 40%;
    max-width: 450px;
    margin: 0;
  }
  .merch-text {
    line-height: 1.6;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 960px) {
  .merch-img {
    position: absolute;
    right: 0;
    width: 40%;
    max-width: 450px;
    margin: 0;
  }
}

/* CONTACT */
#contact {
  background-image: url(../assets/kiernanContact.png);
  background-size: cover;
  background-position: 100% 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#contact hr {
  margin: 0 auto;
  width: 50px;
  height: 5px;
  background: #000;
  border: none;
}

.contact-cnt {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-cnt-item:nth-child(n+2) {
  margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
  #contact {
    text-align: center;
    margin-top: 13rem;
    padding-top: 7rem;
    padding-bottom: 10rem;
  }
  #contact .heading {
    font-size: 2.5rem;
  }
  #contact hr {
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 50px;
    height: 5px;
    background: #000;
    border: none;
  }
  .contact-cnt {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 3rem;
  }
  .contact-cnt-item:nth-child(n+2) {
    margin: 0;
    margin-top: 3rem;
    font-size: 1.4rem;
  }
  .contact-cnt-item:nth-child(n+2) img {
    margin-bottom: 1.1rem;
  }
  .contact-cnt-item:nth-child(n+2) a {
    color: #000;
    text-decoration: none;
  }
}

/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  background: #000;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  color: #c0c0c0;
}

footer p a {
  color: #c0c0c0;
}

@media only screen and (min-width: 768px) {
  footer p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=style.css.map */