/* LISTEN NOW */
#listen {
    margin-top: 3.5rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
    }
}

.listen-cnt {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a  {
        text-decoration: none;

        img {
            width: 150px;
        }
    }

    a:nth-child(n+2) {
        margin-top: 2.5rem;
    }
}

@media only screen and (min-width: 768px) {
    #listen {
        margin-top: 3.5rem;
        text-align: center;
        padding-bottom: 10rem;
    }
    
    .listen-cnt {
        margin: 0 auto;
        width: 85%;
        max-width: 860px;
        margin-top: 2.5rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    
        a  {
            text-decoration: none;

            img {
                width: 200px;
            }
        }
    
        a:nth-child(n+2) {
            margin-top: 0;
        }
    }
}