nav {
    height: 10vh;
  }

.line {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px;
    transition: all 1.5s ease-out;
  }

  .light-line {
    background: #fff;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: #000;
    height: 100vh;
    padding: 20vh 0;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 130% -10%);
    -webkit-clip-path: circle(100px at 130% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
    position: fixed;
  }

  @media only screen and (min-width: 1200px) {
    .nav-links.open {
        clip-path: circle(110vw at 90% -10%);
        -webkit-clip-path: circle(110vw at 90% -10%);
      }
  }

  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }